# python flake8 library configuration file
# the file has to be allocated in ~/.flake8
# I usually create a sym link for this.

# List of Error Codes to ignore:
# https://pep8.readthedocs.io/en/latest/intro.html#error-codes

# DO NOT PUT COMMENTS AT THE END OF THE LINE !!!!!
# it seems that this breaks it

[flake8]
max-line-length = 1000
ignore =
    # E203 whitespace before ':'
    E203,
    # Multiple spaces before operator
    E221,

[tool.black]
# to be able to use single quotes
skip-string-normalization = false
